/* featured section */
.featured{
  margin: 0 0 5%;
}
.titles{
  width: 100%;
  text-align: center;
  margin-bottom: 1.5rem;
}
.titles h3{
  font-size: 1.5em;
  margin-bottom: 1.5rem;
  font-family: "Faculty Glyphic", sans-serif;
}
.titles a{
  font-family: "Faculty Glyphic", sans-serif;
  color: rgba(51, 51, 51,0.5);
}
.products{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.products-card{
  font-family: "Faculty Glyphic", sans-serif;
  flex: 1 1 150px;
}
.img-card{
  height: 75%;
}
.img-card img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.prod-desc{
  height: 15%;
}
.prod-desc p{
  display: block;
  margin: 0.6rem 0;
  padding-left: 0.5rem;
}


@media (min-width: 480px) {
  .products-card{
    flex: 1 0 250px;
  }
}

@media (min-width: 768px) {
  /* .products-card{
    flex: 1 1 400px;
  } */
  .products{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  flex-wrap: wrap;
}
}
