.header{
    width: 100%;
    height:90px;
    background-color: #f9f9f9;
}
.nav-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    flex-basis: 40%;
    height: 100%;
}
.logo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.hide{
    display: none;
}
.nav-tabs{
    flex-basis: 50%;
    display: flex;
    justify-content: right;
    gap: 2rem;
    align-items: center;
    position: relative;
}
.nav-tabs i:nth-child(1){
    color: #817e7e;
    font-size: 1.5em;
}

.nav-tabs i:nth-child(2){
    color: #817e7e;
    font-size: 2em;
}
/* Overlay background */
.overlay {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3); /* dimmed background */
    display: none; /* hidden by default */
    justify-content: flex-end;
    z-index: 1000;
}

/* Show overlay when active */
.overlay.active {
    display: flex;
}
.nav-links{
    padding-top: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    height: 70vh;
    background-color: #f9f9f9;
    transform: translateX(100%); /* Start offscreen to the right */
    transition: transform 1s ease-in-out;
    border-radius: 5px;
}
/* When active, slide in */
.nav-links.active {
    transform: translateX(0); /* Slide into view */
}
.nav-links .logo-nav{
    width: 60%;
}
.logo-nav img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

ul li{
    list-style: none;
    text-align: center;
    margin: 2rem 0;
}
ul li a{
    text-decoration: none;
    color: black;
    font-size: 1.4em;
}
